# Load Test Report

Throughput: 4.38 req/s
Bottleneck: CPU (System)
Peak RAM: 41.0%
Peak CPU: 93.2%
Peak Queue Backlog: 1813
